page-filtros {

}

.filtros-background{
  color: white;
  background-color: #353535

}
.iniciar-prova{

  background-color: #00897b;
  color: white;
  border-radius: 20px;
  align-content: center;
  height: 30px;
  width: 100%;
}
