page-home {

}

.home-background{
  background-color: #00897b;
  color: #353535;
}

.div-center{


  position: relative;
  top: 50%;
  //height: 5%;

}

.home-button{
  background-color: #353535;
  color: white;
  border-radius: 20px;
  height: 30px;
  width: 100%;
}
