page-home {

}

.home-background{
  background-color: #00897b;
  color: #353535;
}

.home-button{
  background-color: #353535;
  color: white;
  border-radius: 20px;
  position: absolute;
  top: 50%;
  height: 5%;
  width: 90%;
}
