page-questao {

}

.questao-background{
  background-color: #353535;
}
.text{
  text-align: justify;
  color: white;
  font-size: 30
}

.questao-item{
  background-color: #353535;
  color: white;
  text-overflow: clip;
}



.full-text{
  white-space: initial;
  text-align: justify;
}
.button-voltar{
    background-color: #c62828;
    width: 20%;
    height: 30px;
    left: 0%;
    border-radius: 50px;

}

.button-descartar{
    width: 100%;
    height: 30px;
    border-radius: 20px;

}

.text-item{
  text-overflow: clip;
}

.button-proximo{
    background-color: #2e7d32;
    width: 20%;
    left: 58%;
    height: 30px;
    border-radius: 50px;
}
