page-questao {

}

.questao-background{
  background-color: #353535;
}
.text{
  text-align: justify;
  color: white;
  font-size: 30
}

.questao-item{
  background-color: #353535;
  color: white;
}

.button-voltar{
    background-color: #c62828;
    width: 20%;
    left: 0%;
    border-radius: 50px;

}

.button-proximo{
    background-color: #2e7d32;
    width: 20%;
    left: 58%;
    border-radius: 50px;
}
